<h1>Films</h1>
<span *ngIf="filterBy"><i>Filtré par {{ filterBy }}</i><br><a [routerLink]="['/film']">Retour</a></span>
<table class="table">
    <tr>
        <th>Titre</th>
        <th>Genre</th>
        <th>Série</th>
        <th>Auteur(s)</th>
        <th>Format</th>
    </tr>
    <tr *ngFor="let film of films">
        <td><a [routerLink]="['/film/' + film.id]">{{ film.titre }}</a></td>
        <td><a [routerLink]="['/film/genre/' + film.genre.id]">{{ film.genre.nom }}</a></td>
        <td><a *ngIf="film.serie" [routerLink]="['/film/serie/' + film.serie.id]">{{ film.serie.nom }}</a></td>
        <td class="app_list"><span *ngFor="let auteur of film.auteurs"><a [routerLink]="['/film/auteur/' + auteur.id]">{{ auteur.nom }}</a></span></td>
        <td class="app_list"><span *ngFor="let format of film.format"><a [routerLink]="['/film/format/' + format]">{{ format }}</a></span></td>
    </tr>
</table>
