.app_list span+span:before {
    content: ', ';
}

.loader {
    top: 60px;
    left: 50%;
    position: fixed;
    transform: translate(-50%, 0%); 
}

.list_couverture  {
    
    padding-top: 0;
    padding-bottom: 0;
    
    img {
        height: 80px;    
    }
}

@import "shared";