<div *ngIf="loading > 0" class="loader">
    <img src="assets/ajax-loader-small.gif">
</div>
<ol *ngIf="filterBy" class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/'+appUrl+'/']">{{ appTitre }}</a></li>
      <li class="breadcrumb-item active">Filtré par {{ filterBy }}</li>
</ol>
<ol *ngIf="!filterBy" class="breadcrumb">
      <li class="breadcrumb-item active">{{ appTitre }}</li>
</ol>

    <ul>
        <li *ngFor="let error of errors.getGeneralsError()" class="alert alert-danger alert-list">
            {{ error }}
        </li>
    </ul>

<ngb-alert *ngIf="!commonsService.isOnline" type="info">Application is offline</ngb-alert>

<h1>{{appTitre}}</h1>
<input-debounce delay="500" placeholder="Recherche..." (value)="searchChanged($event)"></input-debounce>
<table class="table">
    <tr>
        <th colspan="2" (click)="changeOrder('titre')">Titre <span *ngIf="orderField=='titre'" class="glyphicons" [ngClass]="{'glyphicons-chevron-up': orderDirection=='DESC', 'glyphicons-chevron-down': orderDirection!='DESC'}"></span></th>
        <th (click)="changeOrder('genre')">Genre <span *ngIf="orderField=='genre'" class="glyphicons" [ngClass]="{'glyphicons-chevron-up': orderDirection=='DESC', 'glyphicons-chevron-down': orderDirection!='DESC'}"></span></th>
        <th *ngIf="features.indexOf('serie') !== -1" (click)="changeOrder('serie')">Série <span *ngIf="orderField=='serie'" class="glyphicons" [ngClass]="{'glyphicons-chevron-up': orderDirection=='DESC', 'glyphicons-chevron-down': orderDirection!='DESC'}"></span></th>
        <th *ngIf="features.indexOf('volume') !== -1 && filterBy == 'Série'" (click)="changeOrder('volume')">Volume <span *ngIf="orderField=='volume'" class="glyphicons" [ngClass]="{'glyphicons-chevron-up': orderDirection=='DESC', 'glyphicons-chevron-down': orderDirection!='DESC'}"></span></th>
        <th (click)="changeOrder('auteurs')">Auteur(s) <span *ngIf="orderField=='auteurs'" class="glyphicons" [ngClass]="{'glyphicons-chevron-up': orderDirection=='DESC', 'glyphicons-chevron-down': orderDirection!='DESC'}"></span></th>
        <th *ngIf="features.indexOf('volume_possedes') !== -1" (click)="changeOrder('volume_possedes')">Volumes <span *ngIf="orderField=='volume_possedes'" class="glyphicons" [ngClass]="{'glyphicons-chevron-up': orderDirection=='DESC', 'glyphicons-chevron-down': orderDirection!='DESC'}"></span></th>
    </tr>
    <tr *ngFor="let item of items.data">
        <td class="list_couverture"><img [src]="item.getCouverture()" /></td>
        <td><span data-label="Titre"><a [routerLink]="['/'+appUrl+'/'+item.id]">{{ item.titre }}</a></span>
            <span *ngIf="features.indexOf('format') !== -1">
                <a *ngFor="let format of item.format" [routerLink]="['/'+appUrl+'/format/'+format]"><img [src]="getIcon(format)" class="format_icon" /></a>
            </span>
            <span *ngIf="features.indexOf('vue') !== -1" class="glyphicons" [ngClass]="{'glyphicons-eye-open': item.vue, 'glyphicons-eye-close': !item.vue}"></span>
        </td>    
        <td><span data-label="Genre"><a [routerLink]="['/'+appUrl+'/genre/'+item.genre.id]">{{ item.genre.nom }}</a></span></td>
        <td *ngIf="features.indexOf('serie') !== -1"><span data-label="Série"><a [routerLink]="['/'+appUrl+'/serie/'+ item.serie?.id]" [innerHTML]="item.serie?.nom | nullable"></a></span></td>
        <td *ngIf="features.indexOf('volume') !== -1 && filterBy == 'série'"><span data-label="Volume" [innerHTML]="item.volume | nullable"></span></td>
        <td class="app_list"><span data-label="Auteur(s)" class="auteurs_list"><span *ngFor="let auteur of item.auteurs"><a [routerLink]="['/'+appUrl+'/auteur/'+auteur.id]">{{ auteur.nom }}</a></span></span></td>
        <td *ngIf="features.indexOf('volume_possedes') !== -1">
            <span data-label="Volumes" >{{ item.volumes.length }} / {{ item.volume_max }}</span>
            <span *ngIf="features.indexOf('serie_termine') !== -1 && item.serie_termine" class="glyphicons glyphicons-ok"></span>
            <span *ngIf="features.indexOf('serie_abandonne') !== -1 && item.serie_abandonne" class="glyphicons glyphicons-remove"></span>
        </td>
    </tr>
</table>

<ngb-pagination *ngIf="items.pagination.nb_pages" 
    [collectionSize]="items.pagination.nb_items" 
    [(page)]="items.pagination.page" 
    [pageSize]="items.pagination.perPage"
    [maxSize]="5" 
    [rotate]="true" 
    [boundaryLinks]="true"
    (pageChange)="pageChange($event)"></ngb-pagination>

<div class="action_menu" *ngIf="commonsService.isOnline">
    <div class="container">
        <a class="btn btn-large btn-primary" [routerLink]="['/'+appUrl+'/new/create']"><span class="glyphicons glyphicons-plus-sign"></span><span>Ajouter</span></a>
        <button *ngIf="filterBy" class="btn btn-large btn-success" (click)="cloneItem()"><span class="glyphicons glyphicons-plus-sign"></span><span>Ajouter ({{ (item) ? item.genre.nom : filterBy }})</span></button>
    </div>    
</div>
