<div *ngIf="!item" class="loader">
    <img src="assets/ajax-loader-big.gif">
</div>
<div *ngIf="item">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['..']">{{ appTitre }}</a></li>
      <li class="breadcrumb-item active">{{ item.titre }}</li>
    </ol>

    <h1>{{ item.titre }}</h1>
    <div class="col-xs-6">
        <p>Genre : <i>{{ item.genre.nom }}</i></p>
        <p *ngIf="features.indexOf('serie') !== -1 && item.serie">Série : <i>{{ item.serie.nom }}</i></p>
        <p>Auteur(s) : </p>
        <ul>
            <li *ngFor="let auteur of item.auteurs">{{ auteur.nom }}<button class="btn btn-success btn-right" (click)="cloneItem('auteur', auteur.id)"><span class="glyphicons glyphicons-plus-sign"></span></button></li>
        </ul>
        <p *ngIf="features.indexOf('volume') !== -1">Volume : <i>{{ item.volume }}</i></p>
        <p *ngIf="features.indexOf('volume_possedes') !== -1">Volume(s) possedés : <i>{{ item.volumes.length }}</i></p>
        <p *ngIf="features.indexOf('volume_max') !== -1">Volume(s) max : <i>{{ item.volume_max }}</i></p>
        <p *ngIf="features.indexOf('format') !== -1">Format : 
            <img *ngFor="let format of item.format" [src]="getIcon(format)" class="format_icon" />
        </p>
    </div>
    <div class="col-xs">
        <img class="image_couverture" [src]="item.getCouverture()" />
    </div>
    
    <a class="btn btn-primary" [routerLink]="['/'+appUrl+'/' + item.id + '/edit']">Editer</a>
    <button class="btn btn-info" (click)="cloneItem()">Clone</button>
    <button class="btn btn-danger" (click)="deleteItem()">Supprimer</button>
    
</div>