<div *ngIf="!item" class="loader">
    <img src="assets/ajax-loader-big.gif">
</div>
<div *ngIf="loading" class="loader-modal">
    <img src="assets/ajax-loader-big.gif">
</div>
<form *ngIf="item" #f="ngForm" novalidate>

    <ol *ngIf="item.id" class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['../..']">{{ appTitre }}</a></li>
      <li class="breadcrumb-item"><a [routerLink]="['..']">{{ item.titre }}</a></li>
      <li class="breadcrumb-item active">Editer</li>
    </ol>  
    <ol *ngIf="!item.id" class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['../..']">{{ appTitre }}</a></li>
      <li class="breadcrumb-item active">Ajouter</li>
    </ol>  
    
    <ul>
        <li *ngFor="let error of formErrors.getGeneralsError()" class="alert alert-danger alert-list">
            {{ error }}
        </li>
    </ul>

    <ngb-alert *ngIf="!commonsService.isOnline" type="info">Application is offline</ngb-alert>
   
    <!-- Titre -->
    <div class="form-section">
        <div class="form-group row">
            <ul>
                <li *ngFor="let error of formErrors.getErrors('titre')" class="alert alert-danger alert-list">
                    {{ error }}
                </li>
            </ul>
          
            <label for="formTitre" class="col-sm-2 col-form-label">Titre</label>
            <div class="col-sm-10">
                <input type="text" name="titre" [(ngModel)]="item.titre" class="form-control form-control-sm" id="formTitre" placeholder="Dune, etc...">
            </div>
            
            <div *ngIf="features.indexOf('gatherer') !== -1">
                
                <template ngbModalContainer></template>
                
                <template #rt let-r="result" let-t="term">
                    <img *ngIf="r.thumbnail" [src]="r.thumbnail" width="16">
                    {{ r.title}} <span *ngIf="r.tag" class="tag tag-default">{{r.tag}}</span>
                </template>
                
                <div class="form-group" [class.has-danger]="gathererSearchFailed">
                  <input type="text" name="gathererModel" class="form-control" 
                         [(ngModel)]="gathererModel" 
                         [ngbTypeahead]="queryGatherer" 
                         placeholder="Recherche" 
                         [resultTemplate]="rt" 
                         [inputFormatter]="gathererFormatter"
                         (selectItem)="gathererSelectItem($event)" />
                  <span *ngIf="gathererSearching">recherche...</span>
                  <div class="form-control-feedback" *ngIf="gathererSearchFailed">Sorry, suggestions could not be loaded.</div>
                </div>  
            </div>
        </div>
    </div>
    
    <!-- Genre  -->
    <div class="form-section">
        <div class="form-group row">
            <ul>
                <li *ngFor="let error of formErrors.getErrors('genre_id')" class="alert alert-danger alert-list">
                    {{ error }}
                </li>
            </ul>
            <ul>
                <li *ngFor="let error of formErrors.getErrors('genre_new')" class="alert alert-danger alert-list">
                    {{ error }}
                </li>
            </ul>           
            <label class="col-sm-2 col-form-label">Genre</label>
            <div class="col-sm-10">
                <ng2-completer #genreSelect name="genreDisplay" 
                               [(ngModel)]="genreDisplay" class="form-control" 
                               [dataService]="genreDataService" 
                               [minSearchLength]="0" 
                               [textNoResults]=""
                               (change)="addGenre(genreSelect.value)" 
                               (selected)="addGenre(genreSelect.value)"></ng2-completer>
            </div>
        </div>
    </div>    
    
    <!-- Série -->
    <div class="form-section" *ngIf="features.indexOf('serie') !== -1">
        <div class="form-group row">
            <ul>
                <li *ngFor="let error of formErrors.getErrors('serie_id')" class="alert alert-danger alert-list">
                    {{ error }}
                </li>
            </ul>
            <ul>
                <li *ngFor="let error of formErrors.getErrors('serie_new')" class="alert alert-danger alert-list">
                    {{ error }}
                </li>
            </ul>             
            <label class="col-sm-2 col-form-label">Série</label>
            <div class="col-sm-10">
                <ng2-completer #serieSelect name="serieDisplay" 
                               class="form-control" 
                               [(ngModel)]="serieDisplay" 
                               [dataService]="serieDataService" 
                               [minSearchLength]="0" 
                               [textNoResults]=""
                               (change)="addSerie(serieSelect.value)" 
                               (selected)="addSerie(serieSelect.value)"></ng2-completer>
            </div>
        </div>
        <div class="form-group row" *ngIf="item.serie !== null">  
            <label for="formSerieNewVolumeMax" class="col-sm-2 col-form-label col-form-label-sm">Nombre de volume</label>
            <div class="col-sm-10">
                <input type="text" name="volume_max" class="form-control form-control-sm" id="formSerieNewVolumeMax" [(ngModel)]="item.serie.volume_max">
            </div>      
        </div>          
    </div>       
    
    <!-- Auteur -->  
    <div class="form-section">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Auteur</label>
            <div class="col-sm-10">
                <p class="form-control-static mb-0" *ngFor="let auteur of item.auteurs">
                   <input type="hidden" value="{{auteur.id}}">
                    {{auteur.nom}}
                    <button class="btn btn-danger btn-small btn-right" (click)="removeAuteur(auteur.id, auteur.nom)"><span class="glyphicons glyphicons-minus-sign"></span></button>
                </p>
            </div>
        </div>
        <div class="form-group row">

            <ul>
                <li *ngFor="let error of formErrors.getErrors('auteurs_id')" class="alert alert-danger alert-list">
                    {{ error }}
                </li>
            </ul>

            <ul>
                <li *ngFor="let error of formErrors.getErrors('auteurs_new')" class="alert alert-danger alert-list">
                    {{ error }}
                </li>
            </ul>
            
            <label for="formSerieSelect" class="col-sm-2 col-form-label col-form-label-sm">Ajouter un auteur</label>
            <div class="col-sm-8">
                <ng2-completer #auteurNew class="form-control" [dataService]="auteurDataService" [minSearchLength]="0"></ng2-completer>
            </div> 
            <div class="col-sm-2"><button class="btn btn-success btn-small btn-right" (click)="addAuteurAutocomplete(auteurNew.value); auteurNew.value = '';"><span class="glyphicons glyphicons-plus-sign"></span></button></div>
        </div>
    </div>

    <!-- Volume -->    
    <div class="form-section" *ngIf="features.indexOf('volume') !== -1 && needVolume">
        <div class="form-group row">
            <ul>
                <li *ngFor="let error of formErrors.getErrors('volume')" class="alert alert-danger alert-list">
                    {{ error }}
                </li>
            </ul>            
            <label for="formVolume" class="col-sm-2 col-form-label col-form-label-sm">Volume</label>
            <div class="col-sm-10">
                <input type="number" name="volume" [(ngModel)]="item.volume" class="form-control form-control-sm" id="formVolume">
            </div>
        </div>
    </div>    
    
    <!-- Volume Possedes -->    
    <div class="form-section" *ngIf="features.indexOf('volume_possedes') !== -1">
        <div class="form-group row">

            <ul>
                <li *ngFor="let error of formErrors.getErrors('volume_max')" class="alert alert-danger alert-list">
                    {{ error }}
                </li>
            </ul>

            <label for="formVolume" class="col-sm-2 col-form-label col-form-label-sm">Volume max</label>
            <div class="col-sm-10">
                <input type="number" name="volume_max" [(ngModel)]="item.volume_max" class="form-control form-control-sm" id="formVolume"
                       (change)="volumeMaxChanged()">
            </div>
        </div>
        
        <div class="form-group row">
            <ul>
                <li *ngFor="let error of formErrors.getErrors('volume_possedes')" class="alert alert-danger alert-list">
                    {{ error }}
                </li>
            </ul>            
            <label for="formVolume" class="col-sm-2 col-form-label col-form-label-sm">Volume(s) possedés</label>
            <div class="col-sm-10 form-check">               
                <label *ngFor="let volume of item.listVolumeMax" class="form-check-label-block">
                    <input type="checkbox" class="form-check-input"
                        [checked]="item.volumes.indexOf(volume) !== -1" 
                        (change)="$event.target.checked? (item.volumes.push(volume)) : ( item.volumes.splice(item.volumes.indexOf(volume) , 1))">    
                        {{volume}}
                </label>
            </div>
        </div>     
    </div>        
    
    <!-- Format -->    
    <div class="form-section" *ngIf="features.indexOf('format') !== -1">
        <div class="form-group row">
            <ul>
                <li *ngFor="let error of formErrors.getErrors('format')" class="alert alert-danger alert-list">
                    {{ error }}
                </li>
            </ul>            
            <label for="formVolume" class="col-sm-2 col-form-label col-form-label-sm">Format</label>
            <div class="col-sm-10 form-check">               
                <label *ngFor="let format of listFormat" class="form-check-label">
                    <input type="checkbox" class="form-check-input"
                        [checked]="item.format.indexOf(format.value) !== -1" 
                        (change)="$event.target.checked? (item.format.push(format.value)) : ( item.format.splice(item.format.indexOf(format.value) , 1))">    
                        {{format.display}}
                </label>
            </div>
        </div>
    </div>
    
    <!-- vue -->
    <div class="form-section" *ngIf="features.indexOf('vue') !== -1">
        <div class="form-group row">
            <ul>
                <li *ngFor="let error of formErrors.getErrors('vue')" class="alert alert-danger alert-list">
                    {{ error }}
                </li>
            </ul>            
            <label for="formVolume" class="col-sm-2 col-form-label col-form-label-sm">Vue</label>
            <div class="col-sm-10 form-check">               
                <label class="form-check-label">
                    <input type="checkbox" name="vue" class="form-check-input" [(ngModel)]="item.vue"></label>
            </div>
        </div>
    </div>  
    
    <!-- série terminé -->
    <div class="form-section" *ngIf="features.indexOf('serie_termine') !== -1">
        <div class="form-group row">
            <ul>
                <li *ngFor="let error of formErrors.getErrors('serie_termine')" class="alert alert-danger alert-list">
                    {{ error }}
                </li>
            </ul>            
            <label for="formVolume" class="col-sm-2 col-form-label col-form-label-sm">Série terminée</label>
            <div class="col-sm-10 form-check">               
                <label class="form-check-label">
                    <input type="checkbox" name="serie_termine" class="form-check-input" [(ngModel)]="item.serie_termine"></label>
            </div>
        </div>
    </div>   

    <!-- série abandonnée -->
    <div class="form-section" *ngIf="features.indexOf('serie_abandonne') !== -1">
        <div class="form-group row">
            <ul>
                <li *ngFor="let error of formErrors.getErrors('serie_abandonne')" class="alert alert-danger alert-list">
                    {{ error }}
                </li>
            </ul>            
            <label for="formVolume" class="col-sm-2 col-form-label col-form-label-sm">Série abandonnée</label>
            <div class="col-sm-10 form-check">               
                <label class="form-check-label">
                    <input type="checkbox" name="serie_abandonne" class="form-check-input" [(ngModel)]="item.serie_abandonne"></label>
            </div>
        </div>
    </div>   

    <!-- Couverture -->    
    <div class="form-section">
        <div class="form-group row">
            <ul>
                <li *ngFor="let error of formErrors.getErrors('couverture')" class="alert alert-danger alert-list">
                    {{ error }}
                </li>
            </ul>
          
            <label for="formCouverture" class="col-sm-2 col-form-label col-form-label-sm">Couverture</label>
            <div class="col-sm-10">
                <input type="url" name="couverture" [(ngModel)]="item.couverture" class="form-control form-control-sm" id="formCouverture">
                <img *ngIf="item.couverture" [src]="item.couverture" />
            </div>
        </div>
    </div>   

    <div class="action_menu" *ngIf="commonsService.isOnline">
        <div class="container">
            <button type="submit" class="btn btn-large btn-primary" (click)="saveItem()"><span class="glyphicons glyphicons-ok-sign"></span><span>Sauver</span></button>
        </div>
    </div>
</form>