.btn-right {
    float: right;
}    

.glyphicons {
    display: block;
    height: 14px;
    width: 14px;
    filter: invert(100%);
    background-size: 14px 14px;
    background-repeat: no-repeat;
}

.glyphicons-minus-sign {
    background-image: url(assets/glyphicons-192-minus-sign.png);
}

.glyphicons-plus-sign {
    background-image: url(assets/glyphicons-191-plus-sign.png);
}

.btn-secondary .glyphicons {
   filter: invert(0%); 
}

.btn-link .glyphicons {
    filter: invert(100%) sepia(100%) saturate(100) hue-rotate(165deg);
}

.form-section {
    padding: 30px;
    border: 1px solid rgba(0,0,0,.1);    
}

.form-check-label {
    display: block;
}

.form-check-label-block {
    display: inline-block;
    border: 1px solid rgba(0,0,0,.1);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: .3rem;
} 