.form-section {
    padding: 30px;
    border: 1px solid rgba(0,0,0,.1);    
}

.form-check-label {
    display: block;
}

.form-check-label-block {
    display: inline-block;
    border: 1px solid rgba(0,0,0,.1);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin: .3rem;
}

.loader {
    text-align: center;
}

.loader-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);    
    z-index: 100;
}

.alert-list {
    list-style: none;
}

@import "shared";