<h1>Romans</h1>
<span *ngIf="filterBy"><i>Filtré par {{ filterBy }}</i><br><a [routerLink]="['/roman']">Retour</a></span>
<table class="table">
    <tr>
        <th>Titre</th>
        <th>Genre</th>
        <th>Série</th>
        <th>Auteur(s)</th>
        <th>Volumes</th>
    </tr>
    <tr *ngFor="let roman of romans">
        <td><a [routerLink]="['/roman/' + roman.id]">{{ roman.titre }}</a></td>
        <td><a [routerLink]="['/roman/genre/' + roman.genre.id]">{{ roman.genre.nom }}</a></td>
        <td><a *ngIf="roman.serie" [routerLink]="['/roman/serie/' + roman.serie.id]">{{ roman.serie.nom }}</a></td>
        <td class="roman-app_auteurs"><span *ngFor="let auteur of roman.auteurs"><a [routerLink]="['/roman/auteur/' + auteur.id]">{{ auteur.nom }}</a></span></td>
        <td *ngIf="roman.serie">{{ roman.volume ? roman.volume : '0' }} / {{ roman.serie.volume_max }}</td>
        <td *ngIf="!roman.serie">{{ roman.volume ? roman.volume : '' }}</td>
    </tr>
</table>
