<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="assets/home/books.jpg" alt="Card image cap">
      <div class="card-block">
        <p class="card-text">Roman.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="assets/home/mangas.jpg" alt="Card image cap">
      <div class="card-block">
        <p class="card-text">Manga.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="assets/home/comics.jpg" alt="Card image cap">
      <div class="card-block">
        <p class="card-text">BD.</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="assets/home/dvds.jpg" alt="Card image cap">
      <div class="card-block">
        <p class="card-text">Film.</p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <img class="card-img-top" src="assets/home/dvds.jpg" alt="Card image cap">
      <div class="card-block">
        <p class="card-text">Série TV.</p>
      </div>
    </div>
  </div>
</div>